.hero{
    max-height: 100vh;
    width: 100%;
    min-height: 80vh;
    background: linear-gradient(90deg, #563dd0, #8967dd);
    position: relative;
    overflow: hidden;
    z-index: -3;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after{
        content: '';
        position: absolute;
        top: -150px;
        left: -200px;
        width: 550px;
        height: 550px;
        border-radius: 50%;
        background: #fff;
        z-index: -1;
        opacity: .05;
    }

    &::before{
        content: '';
        position: absolute;
        bottom: -90px;
        left: 0;
        width: 40%;
        height: 180px;
        content: '';
        background: #000000;
        z-index: -1;
        opacity: .05;
        border-radius: 0 50% 50% 0;
    }
}

